<div class="card">
  <div class="card-body">
    <form [formGroup]="employeeForm" novalidate>
      <div class="form-group">
        <label for="employee-name" class="col-md-4">Employee Name</label>
        <input type="text" class="form-control" formControlName="name" #name />
      </div>
      <div
        *ngIf="
          employeeForm.controls['name'].invalid &&
          (employeeForm.controls['name'].dirty ||
            employeeForm.controls['name'].touched)
        "
        class="alert alert-danger"
      >
        The field 'Employee Name' is required.
      </div>
      <div class="form-group">
        <label for="job-role" class="col-md-4">Job Role</label>
        <input
          type="text"
          class="form-control"
          formControlName="job_role"
          #job_role
        />
      </div>
      <div
        *ngIf="
          employeeForm.controls['job_role'].invalid &&
          (employeeForm.controls['job_role'].dirty ||
            employeeForm.controls['job_role'].touched)
        "
        class="alert alert-danger"
      >
        The field 'Job Role' is required.
      </div>
      <div class="form-group">
        <label for="salary" class="col-md-4">Salary</label>
        <input
          type="text"
          class="form-control"
          formControlName="salary"
          #salary
        />
      </div>
      <div
        *ngIf="
          employeeForm.controls['salary'].invalid &&
          (employeeForm.controls['salary'].dirty ||
            employeeForm.controls['salary'].touched)
        "
        class="alert alert-danger"
      >
        The field 'Salary' is required.
      </div>
      <div class="form-group">
        <label for="date-birthday" class="col-md-4">Date Birthday</label>
        <input
          type="date"
          class="form-control"
          placeholder="YYYY-MM-DD"
          formControlName="date_birthday"
          #date_birthday
        />
      </div>
      <div
        *ngIf="
          employeeForm.controls['date_birthday'].invalid &&
          (employeeForm.controls['date_birthday'].dirty ||
            employeeForm.controls['date_birthday'].touched)
        "
        class="alert alert-danger"
      >
        The field 'Date Birthday' is required.
      </div>
      <div class="form-group">
        <label for="employee-registration" class="col-md-4"
          >Employee Registration</label
        >
        <input
          type="text"
          class="form-control"
          formControlName="employee_registration"
          #employee_registration
        />
      </div>
      <div
        *ngIf="
          employeeForm.controls['employee_registration'].invalid &&
          (employeeForm.controls['employee_registration'].dirty ||
            employeeForm.controls['employee_registration'].touched)
        "
        class="alert alert-danger"
      >
        The field 'Employee Registration' is required.
      </div>
      <div class="form-group">
        <button
          class="btn btn-primary"
          (click)="
            createNewEmployee(
              name.value,
              job_role.value,
              salary.value,
              date_birthday.value,
              employee_registration.value
            )
          "
          [disabled]="employeeForm.pristine || employeeForm.invalid"
        >
          Add new employee
          <!-- <fa-icon [icon]="['fas', 'user-plus']">Employee</fa-icon> -->
        </button>
      </div>
    </form>
  </div>
</div>
